@media (max-width:776px) {
  
    
.headerAcceuil{
    h1{
        text-align: center;
    }
}
.localisation{
    width: 100%;
    background-color: rgb(235, 226, 226);
    box-shadow: inset 0px 2px  3px rgba(85, 77, 77, 0.4);
    height: 5vh;
    text-align: center;
    padding-top: 10px ;
    font-size: 0.7em;
    color: rgb(73, 71, 71);
    font-weight: 600;
    span{
        margin-left: 5px;
    }
} 
.headerPadding{
    background-color: $mainGrey; 
    margin: 0;
    text-align: center;
    font-size: 0.7em;
    padding: 5% 17% ;
    
    h1{
        margin: 0;
        background-color: white;
        width: 100%;
    }
    
   
    p{
        margin-bottom: 20px;
        color: grey;
    }
    
}

.explorer{
    letter-spacing: 1px; 
    padding: 5%;
}
.fonctionnement{
    margin-left: 5%;
    margin-bottom: 15%;

    .titreFonctionnement{
        font-size: 1.3em;
        font-weight: bold;
    }
    .étape{
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: $mainGrey;
        padding: 7px;
        margin: 10px;
        border-radius: 20px;
        font-weight: 600;
        font-size: 0.9em;
        // a ameliorer 
        box-shadow: 0.22em 0.2em 0.5em rgba(6, 7, 7, 0.1);
        i{
            margin-left: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            margin-left: 8%;
        }
        .nombre{
            width: 20px;
            height: 20px;
            background-color: $colorPrimary;
            border-radius: 50%;
            text-align: center;
            margin-left: -5%;
            margin-top: 4%;
            color: white;  
            font-size: 0.7em; 
            font-weight: 400; 
            @include flexboxCenter;   
        }

    }
    

}


.restaurants{
    background-color: $mainGrey;
    height: 100%;
    padding:5% 6% ;
   
    h2{
        font-size: 1.4em;
    }

    // creer des id pour mmodifier les marges individuellements 
    .restaurant{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 0.9em;
        box-shadow: 0.22em 0.2em 0.5em rgba(6, 7, 7, 0.1); 
        div{
            width: 100%;
            border-radius: 20px 20px 0 0  ;
            .conteneurImg{  
                overflow: hidden;
            
            }
            img{
                // marge negative pour rogner image
                object-fit: contain;
                width: 100%;
                height: auto;

            }
            #palettedugout{
                margin: -70px 0 0 0;
            }
            #lanoteenchantee{
                margin:  -150px 0 -100px 0;
            }
            #alafrancaise{
                margin:  -60px 0 -10px 0;
            }
            #ledelicedessens{
                margin:  -60px 0 0 0;
            }

        
        .flexCoeur{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            .conteneurText{
                height: 8vh;
                margin-top: 5px;
                h3,p{
                    margin: 5px 10px 0 10px ;
                    width: 100%;
                   
                }
                h3 {
                    display: inline-block;
                }  
            }
          
        /* animation coeur (à finir ) */
        i{
            margin-right: 20px;
        }
        i.fa-regular{
            display: none;
        }
        i.fa-solid{
            position: relative;
            z-index: 1;
            color: black;

            &::after{
                @include afterbox
            }
            &:hover{
                color: pink; 
                &::after{
                    opacity: 0;
                }
            }

            
        }
        }
    }


        
}
}        
         
      
        
     


   


.footerAcceuil{
    background-color: rgb(73, 73, 73);
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 0.8em;
    h2{
        margin: 0;
    }
}





}

