@media (max-width:776px) {
  
    
.headerAcceuil{
    h1{
        text-align: center;
        margin: 0;
        padding: 3px;
    }
}
.localisation{
    width: 100%;
    background-color: rgb(235, 226, 226);
    box-shadow: inset 0px 2px  3px rgba(85, 77, 77, 0.4);
    height: 4vh;
    text-align: center;
    padding-top: 10px ;
    font-size: 0.8em;
    color: rgb(37, 36, 36);
    font-weight: 590;
    span{
        margin-left: 5px;
    }
} 
.headerPadding{
    background-color: $mainGrey; 
    margin: 0;
    text-align: center;
    font-size: 0.7em;
    padding: 5% 17% 10% 17%;
    
    h1{
        margin: 0;
        background-color: white;
        width: 100%;
    }
    
   
    p{
        margin-bottom: 20px;
        color: grey;
    }
    
}

.explorer{
    letter-spacing: 1px; 
    padding: 5%;
}
.fonctionnement{
    margin-left: 5%;
    margin-bottom: 15%;

    .titreFonctionnement{
        font-size: 1.3em;
        font-weight: bold;
    }
    .étape{
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: $mainGrey;
        padding: 7px;
        margin: 10px;
        border-radius: 20px;
        font-weight: 600;
        font-size: 0.9em;
        box-shadow: $shadow; 
        i{
            margin-left: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            margin-left: 8%;
        }
        .nombre{
            width: 20px;
            height: 20px;
            background-color: $colorPrimary;
            border-radius: 50%;
            text-align: center;
            margin-left: -5%;
            margin-top: 5%;
            color: white;  
            font-size: 0.7em; 
            font-weight: 400; 
            @include flexboxCenter; 
            p{
                margin: 2px 0 0 0;
                
            }  
        }

    }
    

}

a{
    text-decoration: none;
    color: inherit;
}


.restaurants{
    background-color: $mainGrey;
    height: 100%;
    padding:5% 6% ;
    display: flex;
    gap: 25px;
    flex-direction: column;
   
    h2{
        font-size: 1.4em;
        margin: 30px 0 10px 0 ;
    }
}
    
    .restaurant{
    
    background-color: white;
    border-radius: 20px;
    height: 230px;
    font-size: 0.9em;
    box-shadow: 0.22em 0.2em 0.5em rgba(6, 7, 7, 0.1); 
    
        & > div{
            width: 100%;
            border-radius: 20px 20px 0 0  ;
            display: grid;
            grid-template-rows: 80% 20%;
            .conteneurImg{  
                border-radius: 20px 20px  0 0;
                overflow: hidden;
                margin : -10px  0 0 0 ; 
                height: 175px;
                position: relative;
            .nouveau{
                background-color: aquamarine;
                position: absolute;
                font-size: 0.7rem;
                font-weight: 500;
                color: grey;
                padding: 5px;
                top: 15px ;
                right: 15px;
            }

            }
            img{
                // marge negative pour rogner image
                object-fit: contain;
                margin: 0px 0 0 0;
                width: 100%;
                height: auto; 

            }
            

            #lanoteenchantee{
                // marge negative pour rogner image
                object-fit: contain;
                margin: -150px 0 0 0;
                width: 100%;
                height: auto; 

            }
            #alafrancaise, #ledelicedessens, #palettedugout{
                margin: -50px 0 0 0;
            }

       
            

    }
}


    .flexCoeur{
        margin-top: -15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .conteneurText{ 
            margin: 25px 0 0 20px;
            p, h3{
                margin: 0;
            }
        }    
        }
 

#header-shape-gradient {
    --color-stop: #c206f1;
    --color-bot: #caacc8;
  }     

 .heart{
    width: 25px;
    height: 25px;
    margin: 20px 20px 0 0;
    fill : rgb(253, 253, 253); 
    stroke: rgb(110, 106, 106);
    stroke-width: 4%;
    &:hover{
        fill: url(#header-shape-gradient); 
        stroke-width: 0;
        transition: fill 0.5s;
        transition: stroke-width 0.5s;
       
    }
 }    


   





}
