@media (max-width:776px) {
  

.headerResto{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    h1{
        display: inline-block;
        text-align: center;
        position: relative;
    }
    i{
        position: absolute;
        left: 6%;
        top: 3%;
        color: black;
        
    }
}

.imgResto{
    object-fit: contain;
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;

}

.menu{
    margin-top: -50px;
    background-color:$mainGrey;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}

.titreResto{
    margin: 10px 0 20px 10px;
    font-size: 1.5rem;
    height: 40px;
    i{
        margin-left: 35%;
    }
}

/*
.plat{
    &:first-child:enabled{animation: fadein 1s ease-out; } ; 
    &:nth-child(2):enabled{animation: fadein 2s ease-out;}
}
*/

.titreSouligné{
   margin: 0 10px;
   font-size: 0.8rem;
   font-weight: 400;
}



.barreVerte{
    margin: 5px 10px 0 10px; 
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(98, 224, 182);
}


.carte{

 font-size: 0.6rem;
 margin: 4% 0;
 border-radius: 10px;
 display: flex ;
 overflow: hidden;
 box-shadow: $shadow;
 opacity: 0;

}

.carte:nth-child(3){ 
    animation: fadein 2s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
   
   
}
.carte:nth-child(4){ 
    animation: fadein 2s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
}
.carte:nth-child(5){ 
    animation: fadein 2s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
}




 .checked{
    background-color: rgb(131, 228, 196);
    width: 0%;
    display: flex;
    border-radius: 0 10px 10px 0;
    align-items: center;
    justify-content: center;
    i{
        display: none;
    }

    }
 
 .texte:hover ~ .checked{
        i{   
           animation: flip 1s;
            display: flex; 
            font-size: 1rem;
            font-weight: 800; 
            color: white; 
        }; 
        animation: checked 500ms;
        animation-fill-mode: forwards;
    }



.texte{
    border-radius: 20px 20px 20x 20px;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    h4{
        font-weight: 600;
        margin: 5px 0 0 0;
        font-size: 1rem;
    }

    div{
       display: grid;
       grid-template-columns: 1fr 20% ;
       font-size: 0.85rem;
       margin: 5px 2px;
       color: rgb(63, 61, 61);
       
       p{
        margin: 0;
        grid-row: 1;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        
       }
        span{
            
            padding: 0 5px;
            color: black;
            font-weight: 600;
            font-size: 0.9rem;
            margin: 0;
            grid-row: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 20px;
        }
    }

}



.buttonBox{
    // margin auto ne marche pas ? 
   text-align: center;
   margin: 10% 0;
}

.commande{
    padding: 3.5% 10%;
    font-size: 0.6rem;
}





















}