@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes checked {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@media (max-width: 776px) {
  .headerAcceuil h1 {
    text-align: center;
  }
  .localisation {
    width: 100%;
    background-color: rgb(235, 226, 226);
    box-shadow: inset 0px 2px 3px rgba(85, 77, 77, 0.4);
    height: 5vh;
    text-align: center;
    padding-top: 10px;
    font-size: 0.7em;
    color: rgb(73, 71, 71);
    font-weight: 600;
  }
  .localisation span {
    margin-left: 5px;
  }
  .headerPadding {
    background-color: rgb(247, 242, 242);
    margin: 0;
    text-align: center;
    font-size: 0.7em;
    padding: 5% 17%;
  }
  .headerPadding h1 {
    margin: 0;
    background-color: white;
    width: 100%;
  }
  .headerPadding p {
    margin-bottom: 20px;
    color: grey;
  }
  .explorer {
    letter-spacing: 1px;
    padding: 5%;
  }
  .fonctionnement {
    margin-left: 5%;
    margin-bottom: 15%;
  }
  .fonctionnement .titreFonctionnement {
    font-size: 1.3em;
    font-weight: bold;
  }
  .fonctionnement .étape {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: rgb(247, 242, 242);
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9em;
    box-shadow: 0.22em 0.2em 0.5em rgba(6, 7, 7, 0.1);
  }
  .fonctionnement .étape i {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fonctionnement .étape p {
    margin-left: 8%;
  }
  .fonctionnement .étape .nombre {
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    border-radius: 50%;
    text-align: center;
    margin-left: -5%;
    margin-top: 4%;
    color: white;
    font-size: 0.7em;
    font-weight: 400;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
  .restaurants {
    background-color: rgb(247, 242, 242);
    height: 100%;
    padding: 5% 6%;
  }
  .restaurants h2 {
    font-size: 1.4em;
  }
  .restaurants .restaurant {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 0.9em;
    box-shadow: 0.22em 0.2em 0.5em rgba(6, 7, 7, 0.1);
  }
  .restaurants .restaurant div {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .restaurants .restaurant div .conteneurImg {
    overflow: hidden;
  }
  .restaurants .restaurant div img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .restaurants .restaurant div #palettedugout {
    margin: -70px 0 0 0;
  }
  .restaurants .restaurant div #lanoteenchantee {
    margin: -150px 0 -100px 0;
  }
  .restaurants .restaurant div #alafrancaise {
    margin: -60px 0 -10px 0;
  }
  .restaurants .restaurant div #ledelicedessens {
    margin: -60px 0 0 0;
  }
  .restaurants .restaurant div .flexCoeur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    /* animation coeur (à finir ) */
  }
  .restaurants .restaurant div .flexCoeur .conteneurText {
    height: 8vh;
    margin-top: 5px;
  }
  .restaurants .restaurant div .flexCoeur .conteneurText h3, .restaurants .restaurant div .flexCoeur .conteneurText p {
    margin: 5px 10px 0 10px;
    width: 100%;
  }
  .restaurants .restaurant div .flexCoeur .conteneurText h3 {
    display: inline-block;
  }
  .restaurants .restaurant div .flexCoeur i {
    margin-right: 20px;
  }
  .restaurants .restaurant div .flexCoeur i.fa-regular {
    display: none;
  }
  .restaurants .restaurant div .flexCoeur i.fa-solid {
    position: relative;
    z-index: 1;
    color: black;
  }
  .restaurants .restaurant div .flexCoeur i.fa-solid::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgb(235, 132, 212);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
  .restaurants .restaurant div .flexCoeur i.fa-solid:hover {
    color: pink;
  }
  .restaurants .restaurant div .flexCoeur i.fa-solid:hover::after {
    opacity: 0;
  }
  .footerAcceuil {
    background-color: rgb(73, 73, 73);
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 0.8em;
  }
  .footerAcceuil h2 {
    margin: 0;
  }
}
@media (max-width: 776px) {
  .headerResto {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .headerResto h1 {
    display: inline-block;
    text-align: center;
    position: relative;
  }
  .headerResto i {
    position: absolute;
    left: 6%;
    top: 1%;
    color: black;
  }
  .imgResto {
    object-fit: contain;
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
  }
  .menu {
    margin-top: -50px;
    background-color: rgb(247, 242, 242);
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
  }
  .titreResto {
    display: flex;
    justify-content: space-around;
    height: 40px;
  }
  .titreSouligné {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 400;
  }
  .barreVerte {
    margin-top: 2px;
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(98, 224, 182);
  }
  .carte {
    font-size: 0.6rem;
    margin: 5% 0;
    display: flex;
  }
  .carte:hover .checked {
    animation: checked 1s;
    animation-fill-mode: forwards;
  }
  .carte:hover .checked i {
    display: flex;
    font-size: 1.5rem;
    color: white;
  }
  .texte {
    border-radius: 20px 20px 20x 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
  }
  .texte p span {
    margin-left: 65%;
  }
  .checked {
    background-color: aquamarine;
    width: 0%;
    display: flex;
    border-radius: 0 20px 20px 0;
    align-items: center;
    justify-content: center;
  }
  .checked i {
    display: none;
  }
  .buttonBox {
    text-align: center;
    margin: 10% 0;
  }
  .commande {
    padding: 2% 10%;
    font-size: 0.6rem;
  }
}
.titre {
  font-family: "Shrikhand";
  font-size: 1.1em;
}

.bouttonRose {
  border-radius: 30px;
  color: white;
  font-weight: 530;
  border: none;
  background: linear-gradient(150deg, rgb(230, 143, 233) 0%, #9356DC 100%);
  box-shadow: 0.3em 0.3em 0.3em lightgrey;
}

/*# sourceMappingURL=style.css.map */
